@import url("../../../assets/css/ionicons.min.css");
@import url("../../../assets/css/AdminLTE.min.css");
@import url("../../../assets/css/_all-skins.min.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Roboto', sans-serif;
}

.content-wrapper {
	background-color: #ffffff !important;
}

.scrollable.section {
	overflow: auto;
}

.msg_rep_box {
	padding: 5px 0px;
}

.home-content {
	padding-top: 82px !important;
	padding-left: 20px !important;
}
.home-content .filter-textbox{
   max-width: 63%;
}
footer {
	left: 0;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #c7c4c4;
	color: black;
	position: relative;
	padding-bottom: 15px;
}

.revere {
	margin-right: 15px;
}


/* css for dropdwon   start here*/

.dropdown-content a:hover {
	background-color: #fffefe
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown {
	position: relative;
	display: inline;
}

.dropdown:hover .dropbtn {
	background-color: #fffefe;
}

.dropdown-menu {
	min-width: 0px;
	margin-top: 0px;
	background-color: #fffefe;
	text-align: center;
	margin-top: 10px;
	border-color: #b3b3b3;
}
.mat-form-field-infix {
    border-top: .6em solid transparent;
}
.dropdown-menu>li>a>.fa {
	padding-left: 5px;
}

.dropdown-menu>li>a {
	padding: 6px 0px 6px 6px;
	background-color: #fffefe;
	text-align: left;
}

.dropdown-menu>li> {
	padding: 0px 8px;
	background-color: #fffefe;
}

.dropdown-menu>li>a:hover {
	background-color: #fffefe;
}

.dropdown-user li {
	text-align: left;
}


/* css for dropdwon   start here*/

.dropdown-content a:hover {
	background-color: #fffefe
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown {
	position: relative;
	display: inline;
}

.dropdown:hover .dropbtn {
	background-color: #fffefe;
}

.dropdown-menu {
	min-width: 0px;
	margin-top: 0px;
	background-color: #fffefe;
	text-align: center;
	margin-top: 10px;
	border-color: #b3b3b3;
}

.dropdown-menu>li>a>.fa {
	padding-left: 5px;
}

.dropdown-menu>li>a {
	padding: 6px 0px 6px 6px;
	background-color: #fffefe;
}

.dropdown-menu>li> {
	padding: 0px 8px;
	background-color: #fffefe;
}

.dropdown-menu>li>a:hover {
	background-color: #fffefe;
}

.navbar-nav>.profile-menu>.dropdown-menu {
	width: 175px !important;
}

ul.dropdown-user:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 12px;
	border-width: 0 12px 12px 12px;
	border-style: solid;
	border-color: #fff transparent;
}

.navbar-nav>.notifications-menu>.dropdown-insights {
	width: 150px !important;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
	background-color: unset;
	padding: 7px 10px;
	border-bottom: 1px solid #e8e5e5;
}

.navbar-nav>.messages-menu>.dropdown-menu>li.header {
	background-color: unset;
	border-bottom: 1px solid #e8e5e5;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
	display: block;
	white-space: nowrap;
	border-bottom: 1px solid #e8e5e5;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h5 {
	padding: 0;
	margin: 0 0 0 45px;
	color: #444444;
	font-size: 15px;
	position: relative;
	text-align: left;
}

.profile-name {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	color: #4e4e4e;
	font-weight: 500;
}

.profile-clock {
	overflow: hidden;
}

.profile-time {
	float: right;
	color: #888888;
}

.ScrollStyle {
	max-height: 125px;
	overflow-y: auto;
	padding: 0px;
}

.msg_rep_box1 {
	margin: 5px 0 8px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #888888;
	text-align: left;
}

ul.dropdown-menu.dropdown-insights:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 12px;
	border-width: 0 12px 12px 12px;
	border-style: solid;
	border-color: #fff transparent;
}
/* css for dropdwon   end here*/

.layout-footer {
	margin-top: 12px;
}

.main-sidebar {
	position: fixed !important;
}
.main-header {
	position: fixed !important;
	max-height: 100px;
	z-index: 999;
	width: 100%;
}

.mat-form-field-wrapper {
	padding-bottom: unset !important;
}

.toggle-bar {
	z-index: 999;
}
.list-group-item .myclass {
	width: 80%;
	height: 0px;	
}
.example-full-width {
	width: 100% !important;
}
.wrapper {
	height: auto;
	min-height: 100%;
	width: 100%;
	background-color: white !important;
	overflow: hidden !important;
}

@media (min-width:320px) and (max-width:480px) {
	.main-sidebar {
		padding-top: 100px;
	}
	.home-content {
		padding-top: 110px !important;
		padding-left: 0px !important;
	}
	.home-content .filter-textbox{
		max-width: 100%;
	 }
	.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
		top: 50px;
	}
	ul.dropdown-menu:after {
		display: none;
	}
	.navbar-nav .open.dropdown-menu>li>a {
		padding: 5px 15px 5px 0px;
	}
	.navbar-nav>.notifications-menu>.dropdown-insights {
		display: none;
	}
	.example-full-width {
		width: 84% !important;
	}
	.navbar-custom-menu {
		display: none;
	}
}
@media (min-width:481px) and (max-width:767px) {
	.example-full-width {
		width: 92% !important;
	}
	ul.dropdown-menu.dropdown-insights:after {
		display: none !important;
	}
	.home-content {
		padding-top: 165px !important;
		padding-left: 0px !important;
	}
	.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
		top: 50px;
	}
	.navbar-custom-menu {
		display: none;
	}	
}
@media (min-width: 768px) and (max-width: 1024px) {
	.home-content {
		padding-top: 115px !important;
		padding-left: 0px !important;
	}
	.example-full-width {
		width: 100% !important;
	}
	.home-content .filter-textbox{
		max-width: 100%;
	 }
	.navbar-custom-menu>.navbar-nav>li>.dropdown-user {
		position: absolute;
		right: 20% !important;
		left: auto;
		border: 1px solid #ddd;
		background: #fff;
		top: 52px
	}
	ul.dropdown-menu.dropdown-insights:after {
		display: none;
	}
	ul.dropdown-menu:after {
		display: none;
	}
	.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
		position: absolute;
		right: 5%;
		left: auto;
		border: 1px solid #ddd;
		background: #fff;
		top: 52px
	}
	.nav>li>a
	{
		position: relative;
		display: block;
		padding: 0px 11px 0px 0px;
	}
	
}

@media (min-width: 1281px) {
	footer span.Copyright {
		position: relative;
		left: 18%;
	}
}
