.helpinfo.myclass p {
	margin: 0;
}

.fa-fw {
	text-align: center;
	width: 1.28571429em;
}

.glyphicon-plus-sign {
	visibility: hidden;
}

.title {
	color: black !important;
	max-height: 21px;
	overflow: hidden;
	max-width: 85%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user-title {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	display: block;
}


/* css for dropdwon   start here*/

.dropdown-menu>li>a {
	padding: 0px 8px;
	background-color: #dddddd;
}

.dropdown-menu>li> {
	padding: 0px 8px;
	background-color: #dddddd;
}

.dropdown-menu>li>a:hover {
	background-color: #dddddd;
}

.company:hover .glyphicon-plus-sign {
	visibility: visible;
	color: #fbb040;
}

.username:hover .glyphicon-plus-sign {
	visibility: visible;
	color: #fbb040;
}

.summary-desc {
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}


/* css for dropdwon   end here*/

.username {
	color: #fbb040;
}

.list-group-item .created-date {
	position: relative;
	bottom: 21px;
	right: 20px;
}

.date {
	display: inline-block;
}


.col-md-2, .col-md-3, .col-md-7{
    padding-left: 3px;
    padding-right: 3px;
}

.grid-buttton {
	padding-left: 65px;
}
.panel {
    margin-bottom: 20px;
    background-color: #ddd;
    border-radius: 0px;
    padding: 15px 0px 0px 20px;
}

/*media query start here */

@media (min-width:320px) and (max-width:480px) {
	
	.grid-buttton {
		display: none;
	}
	.grid-item {
		border-right: none;
	}
	.panel {
		padding: 15px 0px 0px 0px;
	}
	
}
@media (min-width:481px) and (max-width:767px) {
	.grid-buttton {
		display: none;
	}
	.panel {
		padding: 15px 0px 0px 0px;
	}
}
