<button class="btn btn-primary pull-right" [routerLink]="['/admin/states/create']">
  Create</button>
<button class="btn btn-success pull-right margin-r10" (click)="download()">Export</button>
<br><br>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let state of states">
        <td>{{ state.name }}</td>
        <td>{{ state.status }}</td>
        <td>
          <a (click)="deleteState(state.id)"><i class="fa fa-trash"></i></a> /
          <a [routerLink]="['/admin/states/update',state.id]"><i class="fa fa-pencil"></i></a>
        </td>
      </tr>
      <tr *ngIf="states?.length == 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    </tbody>
  </table>
</div>