
.img-circle{
    height: 80px;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad  {
    margin-top:20px;
}
td span {
    float: right;
}
.card-body {
    margin: 0 auto;
    padding: 30px 0px 0px 40px;
    margin-bottom: 10px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #d1d3d4;
    border-color: #d1d3d4;
}
.profile-img img {
    margin-right: 120px;
    margin-right: 120px;
    width: 100px;
    height: 80;
    height: 100px;
}

@media (min-width:320px) and (max-width:480px)
{
    .card-body{
        margin-bottom: 20px;
    }
    .toppad
    {
        margin-top:50px;
    }
    .profile-img img {
        margin: 0 auto;
    }
}
