<button class="btn btn-primary pull-right" [routerLink]="['/admin/tickers/create']">
  Create</button>
<button class="btn btn-success pull-right margin-r10" (click)="download()">Export</button>
<br><br>
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="row-border hovertable table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Country</th>
        <th>Industry</th>
        <th>Sector</th>
        <th>Market Cap</th>
        <th>Created By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticker of tickers">
        <td>{{ ticker.name }}</td>
        <td>{{ ticker.company }}</td>
        <td>{{ ticker['country.name'] }}</td>
        <td>{{ ticker.industry }}</td>
        <td>{{ ticker['sector.name']}}</td>
        <td>{{ ticker.market_cap }}</td>
        <td>{{ ticker['user.Name']}}</td>
        <td>
          <a [routerLink]="['/admin/tickers/update',ticker.id]"><i class="fa fa-pencil"></i></a>
        </td>
      </tr>
      <tr *ngIf="tickers?.length == 0">
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    </tbody>
  </table>
</div>