<div class="wrapper">
    <header class="main-header">
      <a [routerLink]='["/home"]' class="logo">
        <span class="logo-mini">
          <a [routerLink]='["/admin/home"]'>
            <!-- <img src="assets/img/revere-icon-logo.png" alt="" /> -->
            <h3>Company logo</h3>
          </a>
        </span>
        <span class="logo-lg">
          <!-- <img src="assets/img/revere-logo.png" alt="logo" /> -->
          <h3>Company logo</h3>
        </span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <div class="col-md-1 col-sm-1 toggle-bar">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </div>
        <div class="col-md-6 col-sm-5">
          <!-- global search  -->
          <app-global-search></app-global-search>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- <li class="dropdown notifications-menu" title="Watchlist">
                <a [routerLink]='["/watch-list"]' class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-calendar-check-o"></i>
                </a>
              </li> -->
              <li class="dropdown notifications-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" title="Insights">
                  <i class="fa fa-fw fa-newspaper-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-insights">
                  <li class="dropdown-item">
                    <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]='["/insights"]'>
                      <i class="fa fa-fw fa-newspaper-o"></i> Insights</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-item">
                    <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]='["/analyst/insights/my-insights"]'>
                      <i class="fa fa-fw fa-newspaper-o"></i> My Insights</a>
                  </li>  
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-item">
                    <a [href]='["/charts-builder"]' target="_blank">
                      <i class="fa fa-area-chart"></i> Chart Bulider</a>
                  </li>
                </ul>
              </li>
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu" title="Messages">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success" id="rcount">{{messagesCount}}</span>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li class="header">You have
                    <span id="rcounthead">{{messagesCount}}</span> Messages</li>
                  <li class="ScrollStyle">
                    <ul class="menu" *ngFor="let messages of messagesData; index as i">
                      <li id="relistitem{{messages.mid}}" (click)="removelistitem(messages.mid)">
                        <a>
                          <div class="pull-left">
                            <img [src]="serverURL+messages.profile_pic" onError="this.src='assets/img/avatar5.png'" class="img-circle" alt="User Image">                          </div>
                          <div class="profile-clock">
                            <div class="profile-name">{{messages.first_name}} {{messages.last_name}}</div>
                            <div class="profile-time">
                              <small>
                                <i class="fa fa-clock-o"></i>{{utils.toDateTimeString(messages.createdAt)}}
                              </small>
                            </div>
                          </div>
                          <p [innerHTML]="utils.getFewWords(utils.stripTags(messages.message),10)" class="msg_rep_box1"></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer">
                    <a [routerLink]='["/messages/read/"]'>See all</a>
                  </li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu" title="Notifications">
                <a [routerLink]='["/settings/notifications"]' class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning" id="reduceNotifCount">{{notificationCount}}</span>
                </a>
              </li>
              <li class="dropdown messages-menu" title="Help">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-question-circle"></i>
                  <span class="label label-danger" id="rehelpcount">{{problemsCount}}</span>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li class="header">You have
                    <span id="rehelpcounthead">{{problemsCount}}</span> tasks</li>
                  <li>
                    <li>
                      <ul class="ScrollStyle">
                        <ul class="menu" *ngFor="let problems of problemsData">
                          <li id="helpitem{{problems.problemId}}" (click)="removehelpitem(problems.problemId)">
                            <a>
                              <div class="pull-left">
                                <img [src]="serverURL+problems.profile_pic" onError="this.src='assets/img/avatar5.png'" class="img-circle" alt="User Image">                              </div>
                              <div class="profile-clock">
                                <div class="profile-name">{{problems.first_name}} {{problems.last_name}}</div>
                                <div class="profile-time">
                                  <small>
                                    <i class="fa fa-clock-o"></i> {{utils.toTimeString(problems.createdAt)}}</small>
                                </div>
                              </div>
                              <p [innerHTML]="utils.getFewWords(utils.stripTags(problems.message),10)" class="msg_rep_box1"></p>
                            </a>
                          </li>
                        </ul>
                      </ul>
                    </li>
                    <li class="footer">
                      <a [routerLink]='["/help"]'>View all tasks</a>
                    </li>
                </ul>
                </li>
                <li class="dropdown user user-menu profile-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img [src]="avatar" class="user-image" onError="this.src='assets/img/avatar5.png'" alt="User Image">
                    <span class="hidden-xs">{{auth.fullname() | titlecase}}</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                    <li>
                      <a [routerLink]="['/settings/profile']">
                        <i class="fa fa-fw fa-users"></i> My Profile</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a [routerLink]="['/settings/change-password']">
                        <i class="fa fa-fw fa-pencil"></i> Change Password</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a [routerLink]="['/auth/logout']">
                        <i class="fa fa-power-off"></i> Logout</a>
                    </li>
                  </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img [src]="avatar" class="img-circle" onError="this.src='assets/img/avatar5.png'" alt="User Image"> </div>
          <div class="pull-left info">
            <p class="user-name">{{auth.fullname() | titlecase}}</p>
            <a href="#">
              <i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <app-sidebar></app-sidebar>
      </section>
      <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="cntent-header">
        <breadcrumb [allowBootstrap]="true"></breadcrumb>
      </section>
      <!-- Main content -->
      <section class="home-content">
        <h1>Welcome Garage DashBoard</h1>
        <router-outlet></router-outlet>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div class="control-sidebar-bg"></div>
  </div>