.nav-tabs {
	border-bottom: 2px solid #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-width: 0;
}

.nav-tabs>li>a {
	border: none;
	color: #6b6968;
	background: #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a active:hover {
	border: none;
	color: #f1592a !important;
	background: #fff;
}

.nav-tabs>li>a::after {
	content: "";
	background: #f1592a;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
	transform: scale(1);
}

.tab-nav>li>a::after {
	background: #5a4080 none repeat scroll 0% 0%;
	color: #fff;
}

.tab-pane {
	padding: 15px 0;
}

.tab-content {
	padding: 20px
}

.nav-tabs>li {
	width: 20%;
	text-align: center;
}

.summary {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 10px 0px 10px 0px;
	border-bottom-style: dashed;
	border-top-style: dashed;
}

.icon-name {
	padding-left: 7px;
	padding-right: 4px;
}

.company-name {
	color: grey;
}

.finish.ng-star-inserted {
	text-align: justify;
	max-width: 87%;
	margin: 0px 0px 0px 40px;
}

button.btn.btn-primary {
	margin-left: 25px;
	border-radius: 0px;
}

.user-name {
	margin-top: -8px;
}

.user-headline {
	font-size: 26px;
}

.assign-button {
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	padding: 12px 3px 15px 0px;
}

.main-footer {
	display: none !important;
}

.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-primary {
	background-color: #f1592a !important;
	border-color: #f1592a !important;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
	background-color: #24a9a7 !important;
	border-color: #24a9a7 !important;
}

.btn-submit {
	background-color: #f1592a;
	color: #fff;
}

.preview-header {
	border-top: 1pt solid #d1d3d4;
	border-left: 1pt solid #d1d3d4;
	border-bottom: 1pt solid #d1d3d4;
	background-color: #d1d3d4;
	margin-top: 3.00pt;
}

.preview-header h4 {
	padding-left: 10px;
}

.analyst-graph {
	position: fixed;
	width: 100%;
	height: 500px;
	overflow-y: scroll
}

.preview-desc {
	width: 100%;
	max-width: 260px;
}

.username {
	color: #fbb040;
}

.submit-button {
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	padding: 2px 0px 5px 28px;
	width: 100%;
}

.img-resize {
	font-size: 14px !important;
}

#data {
	padding-bottom: 35px;
}
.attachments {
    margin-left: 15px;
}
@media (min-width: 320px) and (max-width: 480px) {
	button.btn.btn-primary {
		width: 100%;
		margin: 0 auto;
		margin-top: 10px;
	}
	.graph{
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.finish.ng-star-inserted {
		text-align: justify;
		max-width: 66%;
		margin: 0px;
	}
}