html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2rem;
	letter-spacing: 0.01rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	min-height: 100vh;
	color: #666;
}

* {
	box-sizing: border-box;
}

app {
	height: 100%;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	display: inline-block;
	margin-right: 5px;
}

.arrow-right {
	margin-right: 5px;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #fff;
}

input[type=text],
input[type=number] {
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	display: block;
	background: transparent;
	color: #fff;
	width: 100%;
	border: none;
	border-bottom: 1px solid #5264ae;
}

input:focus {
	outline: none;
}

select {
	width: 100%;
	height: 30px;
	margin: 5px 0;
}

main {
	justify-content: center;
	height: 100%;
}

main .chart-col {
	width: 75%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	left: 25%;
	bottom: 0;
}

main .chart-col .chart-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main .sidebar {
	overflow-y: auto;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
	width: 25%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 75%;
	left: 0;
	bottom: 0;
	background: #2f3646;
	color: #fff;
	font-size: 0.6em;
}

main .sidebar h1 {
	color: #fff;
	font-weight: 100;
	text-transform: uppercase;
	display: block;
	margin: 0;
	background: #1f89ff;
	padding: 15px;
}

main .sidebar h1 strong {
	font-weight: 700;
}

main .sidebar h1 small {
	font-size: 0.5em;
	line-height: 1.3em;
	color: white;
}

main .sidebar h1 small.subtitle {
	display: block;
}

main .sidebar input[type=text],
main .sidebar select {
	width: 100%;
}

main .sidebar h3 {
	padding: 0;
	margin: 10px 0 0 0;
	text-transform: uppercase;
	color: #a8b2c7;
	user-select: none;
}

main .sidebar h3 a {
	color: #a8b2c7;
	text-decoration: none;
}

main .sidebar pre {
	background: #1b1e27;
	font-size: 12px;
	line-height: 1em;
	max-height: 400px;
	overflow: auto;
	padding: 15px;
}

.dark {
	/**
     * Backgrounds
     */
	/**
     * Text
     */
	background: #1b1e27;
}

.dark .ngx-charts text {
	fill: #a0aabe;
}

.dark .ngx-charts .tooltip-anchor {
	fill: #fff;
}

.dark .ngx-charts .gridline-path {
	stroke: #2f3646;
}

.dark .ngx-charts .refline-path {
	stroke: #455066;
}

.dark .ngx-charts .reference-area {
	fill: #fff;
}

.dark .ngx-charts .grid-panel.odd rect {
	fill: rgba(255, 255, 255, 0.05);
}

.dark .ngx-charts .force-directed-graph .edge {
	stroke: #455066;
}

.dark .ngx-charts .number-card p {
	color: #f0f1f6;
}

.dark .ngx-charts .gauge .background-arc path {
	fill: #2f3646;
}

.dark .ngx-charts .gauge .gauge-tick path {
	stroke: #a0aabe;
}

.dark .ngx-charts .gauge .gauge-tick text {
	fill: #a0aabe;
}

.dark .ngx-charts .linear-gauge .background-bar path {
	fill: #2f3646;
}

.dark .ngx-charts .linear-gauge .units {
	fill: #72809b;
}

.dark .ngx-charts .timeline .brush-background {
	fill: rgba(255, 255, 255, 0.05);
}

.dark .ngx-charts .timeline .brush .selection {
	fill: rgba(255, 255, 255, 0.1);
	stroke: #aaa;
}

.dark .ngx-charts .polar-chart .polar-chart-background {
	fill: #1e222e;
}

.dark .chart-legend .legend-labels {
	background: rgba(255, 255, 255, 0.05) !important;
}

.dark .chart-legend .legend-item:hover {
	color: #fff;
}

.dark .chart-legend .legend-label:hover {
	color: #fff !important;
}

.dark .chart-legend .legend-label .active .legend-label-text {
	color: #fff !important;
}

.dark .chart-legend .scale-legend-label {
	color: #a0aabe;
}

.dark .advanced-pie-legend {
	color: #a0aabe;
}

.dark .advanced-pie-legend .legend-item:hover {
	color: #fff !important;
}

.dark .number-card .number-card-label {
	font-size: 0.8em;
	color: #a0aabe;
}