<div class="card">
<h3>Insights</h3>
<ul class="nav nav-tabs">
  <li class="active" [ngClass]="{'active': tabSelection == 'trending'}" (click)="select('trending')">
      <a data-toggle="tab">Trending</a>
  </li>
  <li [ngClass]="{'active': tabSelection == 'new'}" (click)="select('new')">
      <a data-toggle="tab">New</a>
  </li>
</ul>
<app-insights-new *ngIf="tabSelection == 'new'"></app-insights-new>
<app-insights-trending *ngIf="tabSelection == 'trending'"></app-insights-trending>
</div>
<app-insight-providers></app-insight-providers>
