<app-loading *ngIf="loading; else dataBlock"></app-loading>
<ng-template #dataBlock>
    <h1 style="text-align:center" *ngIf='noRecords'>NO Records Found</h1>
    <div *ngIf='!noRecords'>
        <form [formGroup]="probFilterForm" class="form-signin" novalidate autocomplete="on">
            <div class="row search-form">
                <div class="col-md-10 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" formControlName="sortBy">
                                <option value="recent">Most Recent</option>
                                <option value="old">Most Aged</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" formControlName="commodityId">
                                <option value="">All</option>
                                <option *ngFor="let commodity of commodities" [value]="commodity.id">{{commodity.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Quick Filter" formControlName="quickFilter">
                            <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="products" matchHeight="desc">

            <div class="item  col-xs-12 col-md-4 col-sm-4 {{switch}}" *ngFor="let insight of insights">
                <div class="adds-wrapper">
                    <div class="item-list make-list">
                        <div class="ppic">
                            <img class="my-img img-responsive" [src]="serverURL+insight['user.user_profile.profile_pic']" onError="this.src='assets/img/avatar5.png'"
                                alt="User Pic">
                        </div>
                        <div class="body">
                            <div class="company">

                                <a *ngIf="(insight?.type === 'macro-type')" title="{{insight['currency.name']}}">
                                    {{insight['currency.name'] | titlecase}}
                                </a>
                                <a href="javascript:void(0);" (click)="addwatchlist(insight.currencyId,'currency')" data-toggle="tooltip" title="Add to watch list!">
                                    <span *ngIf="(insight?.type === 'macro-type') && user" class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </div>
                            <div class="username">
                                <p class="user-title">
                                    <a href="javascript:void(0);" *ngIf='(switch === "grid-item")' (click)="selectUser(insight.userId)">{{insight['user.Name']}}/</a>
                                    <span class="icon-title">{{insight['commodity.name']}}</span>
                                    <a *ngIf="(insight?.type === 'macro-type')" href="javascript:void(0);" title="{{insight.macro_type}}">{{insight.macro_type| titlecase }}</a>
                                    <a href="javascript:void(0);" (click)="addwatchlist(insight.userId,'analyst')" data-toggle="tooltip" title="Add to watch list!">
                                        <span *ngIf="user" class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </p>
                            </div>
                            <div class="helpinfo myclass">
                                <div class="help-icon">
                                    <span class="head-icon">
                                        <i class="fa fa-bolt" *ngIf="insight.type == 'quick-note'"></i>
                                        <i class="fa fa-book" *ngIf="insight.type == 'In-depth'"></i>
                                        <i class="fa fa-bolt" *ngIf="insight.type == 'macro-type'"></i>
                                    </span>
                                </div>
                                <div class="desc">
                                    <a routerLink="/insights/preview/{{insight.id}}">
                                        <p class="title">
                                            <b title="{{insight.headline}}">{{insight.headline | titlecase }}</b>
                                        </p>
                                        <p>
                                            <span *ngIf='(switch === "list-group-item")'>
                                                <span class="date" *ngIf="insight['insights_view.viewCount'] != 0">
                                                    ({{insight['insights_view.viewCount']}} views)
                                                </span>
                                                <span class="date" *ngIf="insight['insight_comment.commentCount'] != 0">
                                                    /({{insight['insight_comment.commentCount']}} comments)
                                                </span>
                                            </span>
                                            <span [innerHTML]="_utils.getFewWords(_utils.stripTags(insight.summary),30)"></span>
                                        </p>
                                    </a>
                                </div>
                                <div class="date pull-right created-date">
                                    <i class="fa fa-fw fa-clock-o"></i>
                                    {{_utils.toUserFriendlyDate(insight.createdAt)}}
                                </div>
                            </div>
                        </div>
                        <div class="share-button">
                            <div class="dropdown">
                                <button type="button" data-toggle="dropdown" class="btn dropbtn">
                                    <i class="fa fa-lg fa-share-alt "></i>
                                </button>
                                <ul class="dropdown-menu dropdown-content">
                                    <share-buttons [include]="['twitter','google','linkedin','facebook']" [size]="1" [autoSetMeta]="false" [url]="baseURI+'/insights/preview/'+insight.id">
                                    </share-buttons>
                                </ul>
                            </div>
                            <button type="button" class="btn" *ngIf="(user)">
                                <a href="javascript:void(0);" (click)="addwatchlist(insight.id,'insight')" data-toggle="tooltip" title="add to watch list!">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
        </div>
        <div *ngIf="!finished">
            Loading more movies...
        </div>
        <div class="end" *ngIf="finished">
            End of database... That's all folks!
        </div>
    </div>
</ng-template>