.avatar img {
	width: 100%;
	max-width: 100%;
	height: auto;
	border: 0 none;
	border-radius: 1000px;
}

.chat-avatar .avatar {
	width: 30px;
}

.avatar {
	position: relative;
	display: inline-block;
	width: 40px;
	white-space: nowrap;
	border-radius: 1000px;
	vertical-align: bottom;
}

.img-blog {
	top: 31px;
	position: relative;
}