<div class="login-box">
  <div class="login-logo">
    <a><b></b> Forgot Password ? </a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Enter your email to reset password</p>
    <form [formGroup]="fgtPwdForm" (ngSubmit)="forgotPwd(fgtPwdForm.value)" class="form-signin" novalidate autocomplete="on">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" formControlName="email" autofocus>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="text-danger" *ngIf="fgtPwdForm.get('email').dirty && fgtPwdForm.get('email').invalid">
          Please enter email
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <a [routerLink]="['/auth/login']">Login</a>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="fgtPwdForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>