<div class="container">
    <div class="list-group">
        <a class="list-group-item {{selectValue === 'quick-note' ? 'active' : ''}}" (click)="chooseMe('quick-note')">
            <h4 class="list-group-item-heading">Quick Insight</h4>
            <p class="list-group-item-text">For long insights and full analysis of entities as well as related markets based on financial reports.</p>
        </a>
        <a class="list-group-item {{selectValue === 'In-depth' ? 'active' : ''}}" (click)="chooseMe('In-depth')">
            <h4 class="list-group-item-heading">Detailed Analysis</h4>
            <p class="list-group-item-text">For short insights or updates based on excerpts of information retrieved through market news, etc.</p>
        </a>
        <a class="list-group-item {{selectValue === 'macro-type' ? 'active' : ''}}" (click)="chooseMe('macro-type')">
            <h4 class="list-group-item-heading">Sector/MacroType</h4>
            <p class="list-group-item-text">List Group Item Text</p>
        </a>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="countinue(selectValue)">Continue</button>
    </div>
</div>