
.cdk-overlay-container {
  position: fixed;
  z-index: 9999 !important;
}
.company {
  color: grey;
}
.glyphicon-search{
  position: absolute;
  top: 10px;
  right: 25px;
}
.mat-input-element
{
  padding-left: 5px !important;
}
.input-lg {
  height: 35px;
}
