<app-loading *ngIf="loading; else dataBlock"></app-loading>
<ng-template #dataBlock>
    <h1 style="text-align:center" *ngIf='noRecords'>NO Records Found</h1>
    <div *ngIf='!noRecords'>
        <form [formGroup]="probFilterForm" class="form-signin" novalidate autocomplete="on">
            <div class="row search-form">
                <div class="col-md-10 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" formControlName="sortBy">
                                <option value="recent">Most Recent</option>
                                <option value="old">Most Aged</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" formControlName="status">
                                <option value="">All</option>
                                <option value="published">Published</option>
                                <option value="ongoing-reviews">OnGoing Reviews</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Quick Filter" formControlName="quickFilter">
                            <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 grid-buttton">
                    <a (click)="switch='grid-item'" id="grid" class="btn btn-default btn-sm" id="grid">
                        <i class="fa fa-fw fa-lg fa-th-large"></i>
                    </a>
                    <a (click)="switch='list-group-item'" id="list" class="btn btn-default btn-sm" id="list">
                        <i class="fa fa-fw fa-lg fa-th-list"></i>
                    </a>
                </div>
            </div>
        </form>
        <div id="products" matchHeight="desc">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="item  col-xs-12 col-md-4 col-sm-4 {{switch}}" *ngFor="let insight of insights">
                        <div class="adds-wrapper">
                            <div class="item-list make-list">
                                <div class="ppic">
                                    <img class="my-img img-responsive" [src]="serverURL+insight['user.user_profile.profile_pic']" onError="this.src='assets/img/avatar5.png'"
                                        alt="User Pic">
                                </div>
                                <div class="body">
                                    <div class="company">
                                        <a href="javascript:void(0);" title="{{insight['ticker.name']}}" (click)="selectTicker(insight.tickerId)">{{insight['ticker.name'] | titlecase}}
                                        </a>
                                        <a href="javascript:void(0);" *ngIf="(insight?.type === 'macro-type')" title="{{insight['sector.name']}}" (click)="selectSector(insight.sectorId)">
                                            {{insight['sector.name'] | titlecase}}
                                        </a>
                                        <a href="javascript:void(0);" *ngIf="(insight?.type === 'macro-type')" title="{{insight['currency.name']}}" (click)="selectCurrency(insight.currencyId)">
                                            {{insight['currency.name'] | titlecase}}
                                        </a>
                                        <a href="javascript:void(0);" *ngIf="(insight?.type === 'macro-type')" title="{{insight['region.name']}}" (click)="selectRegion(insight.regionId)">
                                            {{insight['region.name'] | titlecase}}
                                        </a>
                                    </div>
                                    <div class="username">
                                        <p class="user-title">
                                            <a href="javascript:void(0);" *ngIf='(switch === "grid-item")' (click)="selectUser(insight.userId)">{{insight['user.Name'] | titlecase }}/</a>
                                            <span class="icon-title">{{insight['commodity.name']}}</span>
                                            <a *ngIf="(insight?.type === 'macro-type')" href="javascript:void(0);" title="{{insight.macro_type}}">{{insight.macro_type| titlecase }}</a>
                                        </p>
                                    </div>
                                    <div class="helpinfo myclass">
                                        <div class="help-icon">
                                            <span class="head-icon">
                                                <i class="fa fa-bolt" *ngIf="insight.type == 'quick-note'"></i>
                                                <i class="fa fa-book" *ngIf="insight.type == 'In-depth'"></i>
                                                <i class="fa fa-cubes" *ngIf="insight.type == 'macro-type'"></i>
                                            </span>
                                        </div>

                                        <div class="desc">
                                            <a [routerLink]='["/editorier/insights/preview",insight.id]'>
                                                <p class="title">
                                                    <b title="{{insight.headline}}">{{insight.headline | titlecase }}</b>
                                                </p>
                                                <p>
                                                    <span [innerHTML]="_utils.getFewWords(_utils.stripTags(insight.summary),30)"></span>
                                                </p>
                                            </a>
                                            <div *ngIf='(switch === "list-group-item")'>
                                                <div class="date pull-right created-date">
                                                    <span>
                                                        <i class="fa fa-fw fa-clock-o"></i>
                                                        {{_utils.toUserFriendlyDate(insight.createdAt)}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf='(switch === "grid-item")'>
                                            <div class="date pull-right created-date">
                                                <span>
                                                    <i class="fa fa-fw fa-clock-o"></i>
                                                    {{_utils.toUserFriendlyDate(insight.createdAt)}}
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
        </div>
        <div *ngIf="!finished">
            Loading more movies...
        </div>
        <div *ngIf="finished">
            End of database... That's all folks!
        </div>
    </div>
</ng-template>