<ul class="nav nav-tabs">
    <li role="tab">
        <a *ngIf="type !== 'macro-type'" (click)="navigation1()">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>Pick Ticker</a>
        <a *ngIf="type === 'macro-type'" (click)="navigation1()">Research Type</a>
    </li>
    <li class="active" role="tab">
        <a>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Compose Insight</a>
    </li>
    <li role="tab">
        <a (click)="navigation()">
            <i class="fa fa-file-text" aria-hidden="true"></i>Preview & Publish</a>
    </li>
</ul>
<br>
<br>
<div class="main_section">
    <div class="container-fluid">
    <form [formGroup]="SummaryForm" (ngSubmit)="saveSummary()" *ngIf="finished">
        <div class="panel panel-default">
            <!-- Subject -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b>Compose Insight</b>
                </h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-default outline" data-toggle="modal" data-target="#myModal">Change Insight</a>
                <div class="form-group">
                    <label for="headline">Title:</label>
                    <input id="headline" type="text" class="form-control" formControlName="headline">
                    <span *ngIf="formErrors.headline" class="small text-danger formErrors" [innerHTML]="formErrors.headline">
                    </span>
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <small class="pull-right">$ : {{tickerInd}} , #: {{ InsightInd}} , @ : {{analystInd }}</small>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
                    <textarea id="summary" class="form-control" formControlName="summary"></textarea>
                    <div *ngIf="formErrors.summary" class="small text-danger formErrors" [innerHTML]="formErrors.summary">
                    </div>
                </div>
                <div *ngIf="insightsData.type ==='In-depth'">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <small class="pull-right">$ : {{tickerInd}} , #: {{ InsightInd}} , @ : {{analystInd }}</small>
                        <textarea id="description" class="form-control" formControlName="description"></textarea>
                        <div *ngIf="formErrors.description" class="small text-danger formErrors" [innerHTML]="formErrors.description">
                        </div>
                    </div>
                </div>
                <div>
                    <label for="insight_img">Cover Image(optional)</label>
                    <div class="insight-img" *ngIf="insight_img">
                        <img class="img-fluid img-square " [src]="insight_img">
                    </div>
                    <div>
                        <input type="file" id="insight_img" required class="form-control" #fileInput name="company_logo" accept="image/*" placeholder="Upload file..."
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label>Files:</label>
                    <dropzone [config]="config" [message]="'Click or drag images here to upload (Maximum:10MB)'" (success)="onUploadSuccess($event)"
                        (error)="onUploadError($event)">
                    </dropzone>
                    <div *ngIf="formErrors.files" class="small text-danger formErrors" [innerHTML]="formErrors.files">
                    </div>
                </div>
                <span *ngIf="insightsData.insight_attachements">
                    <p *ngFor="let file of insightsData.insight_attachements" id="atta-{{file.id}}">
                        <i class="fa fa-trash" aria-hidden="true" (click)="deleteInsightAttachment(file.id,file.fsize)"></i>
                        <a href="{{serverURL+file.path}}" download> {{file.orgName}}</a>
                    </p>
                </span>
                <br>
                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success" [attr.disabled]="SummaryForm.invalid || submitting ? true : null" [innerText]="submitBtnText"></button>
                    <app-submitting *ngIf="submitting"></app-submitting>
                    <a *ngIf="!submitting" class="btn btn-link" (click)="resetForm()" tabindex="0">Reset Form</a>
                    <!-- API submission error -->
                    <p *ngIf="error" class="mt-3 alert alert-danger">
                        <strong>Error:</strong> There was a problem submitting the form. Please try again.
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select your insight type</h4>
            </div>
            <div class="modal-body">
                <app-choose-type></app-choose-type>
            </div>
        </div>
    </div>
</div>
</div>