.g-container p {
	min-height: 80px;
}

.grid-item .col-md-2,
.grid-item .col-md-10,
.grid-item .col-md-12 {
	padding-right: 0px;
	padding-left: 0px;
}

.list-group-item .col-md-2,
.list-group-item .col-md-10,
.list-group-item .col-md-7,
.list-group-item .col-md-11 {
	padding-right: 0px;
	padding-left: 0px;
}

.col-md-2,
.col-md-3,
.col-md-7 {
	padding-left: 3px;
	padding-right: 3px;
}

.list-group-item .avatar-row .col-md-10 {
	padding-left: 10px;
}

.list-group-item {
	padding-right: 0px;
	padding-left: 0px;
}

.grid-item .col-md-12 {
	margin: 5px 0px;
}

.grid-item .col-md-10 {
	padding-left: 10px;
}

.grid-item a,
.list-group-item a {
	color: inherit !important;
}

.grid-item {
	min-height: 210px;
}

.grid-item .avatar-row {
	max-height: 54px;
}

.grid-item .subject-row {
	max-height: 90px;
	position: relative;
	right: 12px;
}

.grid-item .time-row {
	max-height: 20px;
}

img.my-img {
	height: 40px;
	width: 40px;
}

.clock {
	margin-top: 3px;
}

.grid-item .sub {
	max-height: 84px;
	overflow: hidden;
}

.list-group-item .note {
	max-height: 40px;
	overflow: hidden;
}

.icon {
	text-align: right;
}

.profile-pic {
	display: inline-flex;
}

.profile-name {
	padding-left: 10px;
}

.end {
	margin-left: 10px;
}

.ppic {
	float: left;
	padding: 10px 15px 0 0;
}

.item-list .body {
	padding: 10px 0 0 50px;
}

.item-list .helpinfo {
	position: relative;
	bottom: 10px;
}

.item-list .desc {
	overflow: hidden;
	max-height: 119px;
	position: relative;
	bottom: 20px;
}

.item-list .help-icon i {
	margin: 0 0 0 -20px;
	padding-right: 7px;
}

.list-group-item .ppic {
	padding-left: 15px;
}

.list-group-item .myclass {
	position: relative;
	width: 80%;
	bottom: 40px;
	height: 0px;
	float: right;
	padding: 0px;
}

.list-group-item p {
	max-height: 21px;
	overflow: hidden;
	max-width: 85%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.grid-item {
	border: 1px solid #ccc;
	border-top: none;
}

.grid-item:nth-child(3n+0) {
	border-right: none;
}

.grid-item:nth-child(1n+0) {
	border-left: none;
}

.user-title {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	display: block;
}

.list-group-item {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
}

.desc p {
	color: #999;
}

.fa-fw {
	text-align: center;
	width: 1.28571429em;
}

.profile-icon b {
	padding-left: 8px;
}

.plus-icon {
	position: relative;
	top: 8px;
	left: 4px;
}

.glyphicon-plus {
	visibility: hidden;
}

.glyphicon-plus-sign {
	visibility: hidden;
}

.share-button {
	position: absolute;
	top: 0px;
	right: 15px;
	margin-top: 10px;
	visibility: hidden;
}

.database {
	margin-bottom: 35px;
}

.reply-form {
	padding: 10px;
}

.qucik {
	width: 500px;
}


/* css for dropdwon   start here*/

.dropdown-content a:hover {
	background-color: #ddd
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown {
	position: relative;
	display: inline;
}

.dropdown:hover .dropbtn {
	background-color: #dddddd;
}

.title {
	color: black !important;
	max-height: 21px;
	overflow: hidden;
	max-width: 95%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-menu {
	min-width: 0px;
	margin-top: 0px;
	background-color: #dddddd;
	text-align: center;
	margin-top: 10px;
}

.dropdown-menu>li>a>.fa {
	padding-left: 5px;
}

.dropdown-menu>li>a {
	padding: 0px 8px;
	background-color: #dddddd;
}

.dropdown-menu>li> {
	padding: 0px 8px;
	background-color: #dddddd;
}

.dropdown-menu>li>a:hover {
	background-color: #dddddd;
}

.company:hover .glyphicon-plus-sign {
	visibility: visible;
	color: #fbb040;
}

.username:hover .glyphicon-plus-sign {
	visibility: visible;
	color: #fbb040;
}

.item:hover .share-button {
	visibility: visible;
}

.item.list-group-item .share-button {
	margin-top: 5px;
}


/* css for dropdwon   end here*/

.username {
	color: #fbb040;
}

.company {
	color: grey;
}

.date {
	display: inline-block;
}

.helpinfo.myclass p {
	margin: 0;
}


.list-group-item .created-date {
	position: relative;
	bottom: 40px;
}

.title {
	color: black !important;
}

.search-form {
	background-color: #e4e4e4;
	padding: 15px 0px 0px 0px;
	margin: 0px 10px 0px 5px;
}

.grid-buttton {
	padding-left: 65px;
}

.client-content {
	padding-top: 170px;
}


/*media query start here */

@media (min-width:320px) and (max-width:480px) {
	.list-group-item .myclass {
		position: relative;
		width: 100%;
		bottom: 0;
		height: 78px;
		float: left;
		padding-left: 20px;
		padding-top: 10px;
	}

	.list-group-item .created-date {
		position: relative;
		bottom: 22px;
  }
  
	.fa.fa-fw.fa-clock-o {
		float: left;
	}
	.grid-buttton {
		display: none;
	}
	.fa.fa-fw.fa-clock-o {
		float: left;
	}
	.icon {
		text-align: left;
	}
	.grid-item .sub {
		font-size: 12px;
		max-height: 70px !important;
	}
}


/* Quick filter */

@media (min-width: 768px) and (max-width: 1024px) {
	.list-group-item .created-date {
		right: 10px;
	}
	.grid-buttton {
		display: none;
	}
	.grid-item {
		min-height: 140px;
		float: left;
		width: 100%;
	}
}